<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Buy-Sell</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.5/angular-route.js"></script>
    <script src="Buy_sell.js"></script>
    <link href="Buy_sell.css" rel="stylesheet"/>
</head>
<body ng-app="myModule">
    <div class="btn" ng-controller="myController">
        <h1>Buy/Sell Books</h1><br />
        <button type="button" ng-click="openWindow('Signup')">Sign up
        </button><br /><br /><br /><br />
        <button type="button" ng-click="openWindow('login')">Login
        </button>
    </div>
</body>
</html>